/ =========== BEGAIN CONTACT FEATURE SECTION ================
%section#contactFeature
  / SKILLS COUNTER OVERLAY
  .slider_overlay
  .row
    .col-lg-12.col-md-12
      .container
        .contact_feature
          / BEGAIN CALL US FEATURE
          .col-lg-3.col-md-3.col-sm-6
            .single_contact_feaured.wow.fadeInUp
              %i.fa.fa-phone
              %h4 Call Us
              %p 1-265-596-580
          / BEGAIN CALL US FEATURE
          .col-lg-3.col-md-3.col-sm-6
            .single_contact_feaured.wow.fadeInUp
              %i.fa.fa-envelope-o
              %h4 Email Address
              %p singlepro@gmail.com
          / BEGAIN CALL US FEATURE
          .col-lg-3.col-md-3.col-sm-6
            .single_contact_feaured.wow.fadeInUp
              %i.fa.fa-map-marker
              %h4 Office Location
              %p Your Company Office Location
          / BEGAIN CALL US FEATURE
          .col-lg-3.col-md-3.col-sm-6
            .single_contact_feaured.wow.fadeInUp
              %i.fa.fa-clock-o
              %h4 Working Hours
              %p Monday-Friday 9.00-21.00
/ =========== END CONTACT FEATURE SECTION ================
