:scss
  .few-text {
    margin-bottom: 30px;
  }
  @media only screen and ( min-width: 768px  ) and ( max-width: 992px ) {
    .few-text {
    margin-bottom: 70px;
  }
  }

/ =========== BEGIN SERVICE SECTION ================
%section#service
  .container
    .row
      .col-lg-12.col-md-12
        / BEGAIN SERVICE HEADING
        .heading
          %h2.wow.fadeInLeftBig Что мы предлагаем?
          %p Существует много вариантов услуг, которые мы предоставляем. Так как ВБК «Комплексгруп» - производствено-строительная компания и занимается не только строительством, но и производством, спектр услуг значительно расширяется. Такие как: производство СИП и сэндвич панелей, проектирование, консультация, строительство дома или коробки дома, доставка продукции.
    .row
      .col-lg-12.col-md-12
        / BEGAIN SERVICE
        .service_area
          .row
            .col-lg-6.col-md-6.col-sm-6
              / BEGAIN SINGLE SERVICE
              .single_service.wow.fadeInLeft
                .service_iconarea
                  %span.fa.fa-line-chart.service_icon
                %h3.service_title Производство
                %p Производство СИП и сэндвич панелей осуществляется исключительно под заказ. Разные внутренние наполнители: пенополистирол и минеральная вата. Разная толщина: от 50-200мм. в случае с сэндвич панелями, и от 120-170мм. в случае с СИП панелями.
            .col-lg-6.col-md-6.col-sm-6
              / BEGAIN SINGLE SERVICE
              .single_service.wow.fadeInRight
                .service_iconarea
                  %span.fa.fa-suitcase.service_icon
                %h3.service_title Проектирование
                %p.few-text Решили простроить дом, но у Вас нет проекта? Не беда! В этом случае мы предлагаем свои разработанные проекты или можем разработать новый под Ваше усмотрение.
            .col-lg-6.col-md-6.col-sm-6
              / BEGAIN SINGLE SERVICE
              .single_service.wow.fadeInLeft
                .service_iconarea
                  %span.fa.fa-eraser.service_icon
                %h3.service_title Консультация
                %p Наши специалисты с легкостью помогут и проконсультируют Вас при проектировании. Надежность и прочность в этом деле – самое главное.
            .col-lg-6.col-md-6.col-sm-6
              / BEGAIN SINGLE SERVICE
              .single_service.wow.fadeInRight
                .service_iconarea
                  %span.fa.fa-paper-plane.service_icon
                %h3.service_title Строительство
                %p Дом «под ключ», коробка дома с монтажом или заказать домокомплект без монтажа для самостоятельной сборки. Все зависит от Ваших предпочтений.
            .col-lg-6.col-md-6.col-sm-6
              / BEGAIN SINGLE SERVICE
              .single_service.wow.fadeInLeft
                .service_iconarea
                  %span.fa.fa-envelope-o.service_icon
                %h3.service_title Доставка
                %p Доставка осуществляется по всей Украине.
            .col-lg-6.col-md-6.col-sm-6
              / BEGAIN SINGLE SERVICE
              .single_service.wow.fadeInRight
                .service_iconarea
                  %span.fa.fa-support.service_icon
                %h3.service_title Premium Customer SUpport
                %p There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text
/ =========== END SERVICE SECTION ================
