/ =========== BEGAIN SUBSCRIBE SECTION ================
%section#subscribe
  .container
    .row
      .col-lg-12.col-md-12
        / START SUBSCRIBE HEADING
        .heading
          %h2.wow.fadeInLeftBig Subscribe Us
          %p There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
        / BEGAIN SUBSCRIVE FORM
        = form_tag('', method: 'post', class: 'subscribe_form') do
          .subscrive_group.wow.fadeInUp
            = text_field_tag 'email', nil, placeholder: 'Enter your email address',
                                           class: 'form-control subscribe_mail'
            = submit_tag('Subscribe', class: 'subscr_btn')

/ =========== END SUBSCRIBE SECTION ================
